<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="egovframework.com.platform.runtimecontrol.mapper.RuntimeControlPlaneMapper">

    <insert id="insertParityCompareRun" parameterType="map">
        INSERT INTO RSN_PARITY_COMPARE_RUN (
            COMPARE_CONTEXT_ID,
            TRACE_ID,
            PROJECT_ID,
            GUIDED_STATE_ID,
            TEMPLATE_LINE_ID,
            SCREEN_FAMILY_RULE_ID,
            OWNER_LANE,
            SELECTED_SCREEN_ID,
            RELEASE_UNIT_ID,
            COMPARE_BASELINE,
            PARITY_SCORE,
            UNIFORMITY_SCORE,
            RESULT,
            COMPARE_TARGET_SET_JSON,
            BLOCKER_SET_JSON,
            REPAIR_CANDIDATE_SET_JSON,
            REQUESTED_BY,
            REQUESTED_BY_TYPE,
            RESULT_PAYLOAD_JSON,
            OCCURRED_AT,
            ROW_VERSION,
            CREATED_BY,
            UPDATED_BY,
            CREATED_AT,
            UPDATED_AT
        ) VALUES (
            #{compareContextId},
            #{traceId},
            #{projectId},
            #{guidedStateId},
            #{templateLineId},
            #{screenFamilyRuleId},
            #{ownerLane},
            #{selectedScreenId},
            #{releaseUnitId},
            #{compareBaseline},
            #{parityScore},
            #{uniformityScore},
            #{result},
            #{compareTargetSetJson, typeHandler=egovframework.com.config.data.CubridClobStringTypeHandler},
            #{blockerSetJson, typeHandler=egovframework.com.config.data.CubridClobStringTypeHandler},
            #{repairCandidateSetJson, typeHandler=egovframework.com.config.data.CubridClobStringTypeHandler},
            #{requestedBy},
            #{requestedByType},
            #{resultPayloadJson, typeHandler=egovframework.com.config.data.CubridClobStringTypeHandler},
            #{occurredAt},
            0,
            #{requestedBy},
            #{requestedBy},
            CURRENT_DATETIME,
            CURRENT_DATETIME
        )
    </insert>

    <insert id="insertRepairSession" parameterType="map">
        INSERT INTO RSN_REPAIR_SESSION (
            REPAIR_SESSION_ID,
            TRACE_ID,
            PROJECT_ID,
            SCENARIO_FAMILY_ID,
            RELEASE_UNIT_ID,
            GUIDED_STATE_ID,
            TEMPLATE_LINE_ID,
            SCREEN_FAMILY_RULE_ID,
            OWNER_LANE,
            SELECTED_SCREEN_ID,
            COMPARE_SNAPSHOT_ID,
            COMPARE_BASELINE,
            REASON_CODE,
            REQUESTED_BY,
            REQUESTED_BY_TYPE,
            REQUEST_NOTE,
            SELECTED_ELEMENT_SET_JSON,
            EXISTING_ASSET_REUSE_SET_JSON,
            BLOCKING_GAP_SET_JSON,
            REUSE_RECOMMENDATION_SET_JSON,
            REQUIRED_CONTRACT_SET_JSON,
            STATUS,
            BLOCKING_GAP_COUNT,
            SESSION_PAYLOAD_JSON,
            OCCURRED_AT,
            ROW_VERSION,
            CREATED_BY,
            UPDATED_BY,
            CREATED_AT,
            UPDATED_AT
        ) VALUES (
            #{repairSessionId},
            #{traceId},
            #{projectId},
            #{scenarioFamilyId},
            #{releaseUnitId},
            #{guidedStateId},
            #{templateLineId},
            #{screenFamilyRuleId},
            #{ownerLane},
            #{selectedScreenId},
            #{compareSnapshotId},
            #{compareBaseline},
            #{reasonCode},
            #{requestedBy},
            #{requestedByType},
            #{requestNote},
            #{selectedElementSetJson, typeHandler=egovframework.com.config.data.CubridClobStringTypeHandler},
            #{existingAssetReuseSetJson, typeHandler=egovframework.com.config.data.CubridClobStringTypeHandler},
            #{blockingGapSetJson, typeHandler=egovframework.com.config.data.CubridClobStringTypeHandler},
            #{reuseRecommendationSetJson, typeHandler=egovframework.com.config.data.CubridClobStringTypeHandler},
            #{requiredContractSetJson, typeHandler=egovframework.com.config.data.CubridClobStringTypeHandler},
            #{status},
            #{blockingGapCount},
            #{sessionPayloadJson, typeHandler=egovframework.com.config.data.CubridClobStringTypeHandler},
            #{occurredAt},
            0,
            #{requestedBy},
            #{requestedBy},
            CURRENT_DATETIME,
            CURRENT_DATETIME
        )
    </insert>

    <insert id="insertRepairApplyRun" parameterType="map">
        INSERT INTO RSN_REPAIR_APPLY_RUN (
            REPAIR_APPLY_RUN_ID,
            REPAIR_SESSION_ID,
            TRACE_ID,
            PROJECT_ID,
            SCENARIO_FAMILY_ID,
            RELEASE_UNIT_ID,
            GUIDED_STATE_ID,
            TEMPLATE_LINE_ID,
            SCREEN_FAMILY_RULE_ID,
            OWNER_LANE,
            SELECTED_SCREEN_ID,
            SELECTED_ELEMENT_SET_JSON,
            COMPARE_BASELINE,
            UPDATED_RELEASE_CANDIDATE_ID,
            PUBLISH_MODE,
            REQUESTED_BY,
            REQUESTED_BY_TYPE,
            PARITY_RECHECK_REQUIRED_YN,
            UNIFORMITY_RECHECK_REQUIRED_YN,
            SMOKE_REQUIRED_YN,
            STATUS,
            ROLLBACK_ANCHOR_YN,
            CHANGE_SUMMARY,
            UPDATED_ASSET_TRACE_SET_JSON,
            UPDATED_BINDING_SET_JSON,
            UPDATED_THEME_LAYOUT_SET_JSON,
            SQL_DRAFT_SET_JSON,
            APPLY_PAYLOAD_JSON,
            OCCURRED_AT,
            ROW_VERSION,
            CREATED_BY,
            UPDATED_BY,
            CREATED_AT,
            UPDATED_AT
        ) VALUES (
            #{repairApplyRunId},
            #{repairSessionId},
            #{traceId},
            #{projectId},
            #{scenarioFamilyId},
            #{releaseUnitId},
            #{guidedStateId},
            #{templateLineId},
            #{screenFamilyRuleId},
            #{ownerLane},
            #{selectedScreenId},
            #{selectedElementSetJson, typeHandler=egovframework.com.config.data.CubridClobStringTypeHandler},
            #{compareBaseline},
            #{updatedReleaseCandidateId},
            #{publishMode},
            #{requestedBy},
            #{requestedByType},
            #{parityRecheckRequiredYn},
            #{uniformityRecheckRequiredYn},
            #{smokeRequiredYn},
            #{status},
            #{rollbackAnchorYn},
            #{changeSummary},
            #{updatedAssetTraceSetJson, typeHandler=egovframework.com.config.data.CubridClobStringTypeHandler},
            #{updatedBindingSetJson, typeHandler=egovframework.com.config.data.CubridClobStringTypeHandler},
            #{updatedThemeLayoutSetJson, typeHandler=egovframework.com.config.data.CubridClobStringTypeHandler},
            #{sqlDraftSetJson, typeHandler=egovframework.com.config.data.CubridClobStringTypeHandler},
            #{applyPayloadJson, typeHandler=egovframework.com.config.data.CubridClobStringTypeHandler},
            #{occurredAt},
            0,
            #{requestedBy},
            #{requestedBy},
            CURRENT_DATETIME,
            CURRENT_DATETIME
        )
    </insert>

    <insert id="insertVerificationRun" parameterType="map">
        INSERT INTO RSN_VERIFICATION_RUN (
            VERIFICATION_RUN_ID,
            TRACE_ID,
            PROJECT_ID,
            SCENARIO_FAMILY_ID,
            MENU_ID,
            GUIDED_STATE_ID,
            TEMPLATE_LINE_ID,
            OWNER_LANE,
            TARGET_RUNTIME,
            RELEASE_UNIT_ID,
            SCREEN_FAMILY_RULE_ID,
            SELECTED_SCREEN_ID,
            SELECTED_ELEMENT_SET_JSON,
            COMPARE_BASELINE,
            PAGE_ID,
            ROUTE_ID,
            SHELL_PROFILE_ID,
            PAGE_FRAME_ID,
            COMPONENT_COVERAGE_STATE,
            BINDING_COVERAGE_STATE,
            BACKEND_CHAIN_STATE,
            HELP_SECURITY_STATE,
            RESULT,
            BLOCKER_COUNT,
            VERIFY_SHELL_YN,
            VERIFY_COMPONENT_YN,
            VERIFY_BINDING_YN,
            VERIFY_BACKEND_YN,
            VERIFY_HELP_SECURITY_YN,
            REQUESTED_BY,
            REQUESTED_BY_TYPE,
            BLOCKER_SET_JSON,
            RESULT_PAYLOAD_JSON,
            OCCURRED_AT,
            ROW_VERSION,
            CREATED_BY,
            UPDATED_BY,
            CREATED_AT,
            UPDATED_AT
        ) VALUES (
            #{verificationRunId},
            #{traceId},
            #{projectId},
            #{scenarioFamilyId},
            #{menuId},
            #{guidedStateId},
            #{templateLineId},
            #{ownerLane},
            #{targetRuntime},
            #{releaseUnitId},
            #{screenFamilyRuleId},
            #{selectedScreenId},
            #{selectedElementSetJson, typeHandler=egovframework.com.config.data.CubridClobStringTypeHandler},
            #{compareBaseline},
            #{pageId},
            #{routeId},
            #{shellProfileId},
            #{pageFrameId},
            #{componentCoverageState},
            #{bindingCoverageState},
            #{backendChainState},
            #{helpSecurityState},
            #{result},
            #{blockerCount},
            #{verifyShellYn},
            #{verifyComponentYn},
            #{verifyBindingYn},
            #{verifyBackendYn},
            #{verifyHelpSecurityYn},
            #{requestedBy},
            #{requestedByType},
            #{blockerSetJson, typeHandler=egovframework.com.config.data.CubridClobStringTypeHandler},
            #{resultPayloadJson, typeHandler=egovframework.com.config.data.CubridClobStringTypeHandler},
            #{occurredAt},
            0,
            #{requestedBy},
            #{requestedBy},
            CURRENT_DATETIME,
            CURRENT_DATETIME
        )
    </insert>

    <insert id="insertModuleBindingPreview" parameterType="map">
        INSERT INTO RSN_MODULE_BINDING_PREVIEW (
            MODULE_BINDING_PREVIEW_ID,
            TRACE_ID,
            PROJECT_ID,
            SCENARIO_FAMILY_ID,
            SCENARIO_ID,
            GUIDED_STATE_ID,
            PAGE_ASSEMBLY_ID,
            TEMPLATE_LINE_ID,
            SCREEN_FAMILY_RULE_ID,
            THEME_SET_ID,
            INSTALLABLE_MODULE_ID,
            MODULE_PATTERN_FAMILY_ID,
            MODULE_DEPTH_PROFILE_ID,
            SELECTION_MODE,
            OPERATOR_ID,
            FRONTEND_IMPACT_SUMMARY,
            BACKEND_IMPACT_SUMMARY,
            DB_IMPACT_SUMMARY,
            CSS_IMPACT_SUMMARY,
            RUNTIME_PACKAGE_ATTACH_PREVIEW,
            ROLLBACK_PLAN_SUMMARY,
            BLOCKING_ISSUE_COUNT,
            BLOCKING_ISSUE_SET_JSON,
            READY_FOR_APPLY_YN,
            PREVIEW_PAYLOAD_JSON,
            ROW_VERSION,
            CREATED_BY,
            UPDATED_BY,
            CREATED_AT,
            UPDATED_AT
        ) VALUES (
            #{moduleBindingPreviewId},
            #{traceId},
            #{projectId},
            #{scenarioFamilyId},
            #{scenarioId},
            #{guidedStateId},
            #{pageAssemblyId},
            #{templateLineId},
            #{screenFamilyRuleId},
            #{themeSetId},
            #{installableModuleId},
            #{modulePatternFamilyId},
            #{moduleDepthProfileId},
            #{selectionMode},
            #{operatorId},
            #{frontendImpactSummary},
            #{backendImpactSummary},
            #{dbImpactSummary},
            #{cssImpactSummary},
            #{runtimePackageAttachPreview, typeHandler=egovframework.com.config.data.CubridClobStringTypeHandler},
            #{rollbackPlanSummary},
            #{blockingIssueCount},
            #{blockingIssueSetJson, typeHandler=egovframework.com.config.data.CubridClobStringTypeHandler},
            #{readyForApplyYn},
            #{previewPayloadJson, typeHandler=egovframework.com.config.data.CubridClobStringTypeHandler},
            0,
            #{operatorId},
            #{operatorId},
            CURRENT_DATETIME,
            CURRENT_DATETIME
        )
    </insert>

    <insert id="insertModuleBindingResult" parameterType="map">
        INSERT INTO RSN_MODULE_BINDING_RESULT (
            MODULE_BINDING_RESULT_ID,
            MODULE_BINDING_PREVIEW_ID,
            TRACE_ID,
            PROJECT_ID,
            SCENARIO_FAMILY_ID,
            SCENARIO_ID,
            GUIDED_STATE_ID,
            PAGE_ASSEMBLY_ID,
            TEMPLATE_LINE_ID,
            SCREEN_FAMILY_RULE_ID,
            THEME_SET_ID,
            RELEASE_UNIT_ID,
            RUNTIME_PACKAGE_ID,
            GENERATION_RUN_ID,
            JSON_REVISION_SET_JSON,
            SELECTION_APPLIED_YN,
            APPLIED_MODULE_SET_JSON,
            ATTACHED_PAGE_ASSET_SET_JSON,
            ATTACHED_COMPONENT_ASSET_SET_JSON,
            ATTACHED_BACKEND_ASSET_SET_JSON,
            ATTACHED_DB_ASSET_SET_JSON,
            RUNTIME_PACKAGE_IMPACT_SUMMARY,
            RELEASE_BLOCKER_DELTA_JSON,
            FOLLOW_UP_CHECKLIST_SUMMARY,
            REPAIR_NEEDED_YN,
            REPAIR_QUEUE_COUNT,
            REPAIR_SESSION_CANDIDATE_ID,
            COMPARE_CONTEXT_ID,
            PUBLISHED_ASSET_TRACE_SET_JSON,
            TRACE_LINK_SET_JSON,
            NEXT_RECOMMENDED_ACTION,
            ROLLBACK_ANCHOR_YN,
            RESULT_PAYLOAD_JSON,
            ROW_VERSION,
            CREATED_BY,
            UPDATED_BY,
            CREATED_AT,
            UPDATED_AT
        ) VALUES (
            #{moduleBindingResultId},
            #{moduleBindingPreviewId},
            #{traceId},
            #{projectId},
            #{scenarioFamilyId},
            #{scenarioId},
            #{guidedStateId},
            #{pageAssemblyId},
            #{templateLineId},
            #{screenFamilyRuleId},
            #{themeSetId},
            #{releaseUnitId},
            #{runtimePackageId},
            #{generationRunId},
            #{jsonRevisionSetJson, typeHandler=egovframework.com.config.data.CubridClobStringTypeHandler},
            #{selectionAppliedYn},
            #{appliedModuleSetJson, typeHandler=egovframework.com.config.data.CubridClobStringTypeHandler},
            #{attachedPageAssetSetJson, typeHandler=egovframework.com.config.data.CubridClobStringTypeHandler},
            #{attachedComponentAssetSetJson, typeHandler=egovframework.com.config.data.CubridClobStringTypeHandler},
            #{attachedBackendAssetSetJson, typeHandler=egovframework.com.config.data.CubridClobStringTypeHandler},
            #{attachedDbAssetSetJson, typeHandler=egovframework.com.config.data.CubridClobStringTypeHandler},
            #{runtimePackageImpactSummary},
            #{releaseBlockerDeltaJson, typeHandler=egovframework.com.config.data.CubridClobStringTypeHandler},
            #{followUpChecklistSummary},
            #{repairNeededYn},
            #{repairQueueCount},
            #{repairSessionCandidateId},
            #{compareContextId},
            #{publishedAssetTraceSetJson, typeHandler=egovframework.com.config.data.CubridClobStringTypeHandler},
            #{traceLinkSetJson, typeHandler=egovframework.com.config.data.CubridClobStringTypeHandler},
            #{nextRecommendedAction},
            #{rollbackAnchorYn},
            #{resultPayloadJson, typeHandler=egovframework.com.config.data.CubridClobStringTypeHandler},
            0,
            #{operatorId},
            #{operatorId},
            CURRENT_DATETIME,
            CURRENT_DATETIME
        )
    </insert>

</mapper>
